* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #333333;
}

header {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.75);
    background-color: #399839;
    color: #f1f1f1;
    text-align: center;
}

main {
    margin-top: 10px;
}

.question-wrapper {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #97f295;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-wrapper:hover {
    cursor: pointer;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.down {
    transform: rotate(-180deg);
}

.answer-wrapper {
    margin: 0 5px;
    padding: 0 10px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-height: max-content;
}

.answer-wrapper.close {
    max-height: 0;
}

.answer-wrapper > .arrow-2 {
    align-self: flex-end;
}

.answer-wrapper > .arrow-2:hover {
    cursor: pointer;
}

pre {
    background-color: #333333;
    color: #f1f1f1;
}